# --- App ---
NODE_ENV=development
PORT=3000

# --- MySQL ---
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=example
DB_NAME=ecoride_db
DB_CONNECTION_LIMIT=10

# --- MongoDB ---
MONGO_URI=mongodb://mongo:27017/eco_ride

# --- Kafka ---
KAFKA_BROKER=kafka:9092
KAFKA_CLIENT_ID=eco-ride-api
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

# --- JWT ---
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1h

# --- Sonar ---
SONAR_ORG=your-org
SONAR_TOKEN=your-sonar-token
